{{ partial "orita-styles.html" . }}
{{ $author := .Site.Params.Author }}
<div class="orita orita-home">
  {{ with $author.image }}
    {{ with resources.Get . }}
      {{ $img := .Fill "320x320 Center" }}
      <img class="orita-avatar" src="{{ $img.RelPermalink }}" width="160" height="160" alt="{{ $author.name }}">
    {{ end }}
  {{ end }}
  <h1 class="orita-home-name">{{ $author.name }}</h1>
  {{ with $author.headline }}<p class="orita-home-headline">{{ . | markdownify }}</p>{{ end }}
  {{ with .Site.Params.profileLinks }}
  <ul class="orita-links orita-home-links">
    {{ range . }}<li><a href="{{ .url }}" rel="noopener">{{ .name }}</a></li>{{ end }}
  </ul>
  {{ end }}
</div>
<div class="orita orita-home-body orita-prose">
  {{ .Content }}
</div>
